[sources.stdin]
type = "stdin"

[transforms.parse_json]
type = "remap"
inputs = ["stdin"]
drop_on_error = true
source = '''
. = parse_json!(string!(.message))
.ingestion_timestamp = now()
'''

[sinks.clickhouse]
type = "clickhouse"
inputs = ["parse_json"]
endpoint = "http://localhost:8123"
database = "observability"
table = "logs"
skip_unknown_fields = true
format = "json_each_row"

